<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vomarek.passwordgenerator">

    <application
            android:allowBackup="true"
            android:icon="@drawable/lock_shadow"
            android:label="@string/app_name"
            android:roundIcon="@drawable/lock_shadow"
            android:supportsRtl="true"
            android:theme="@style/General">

        <activity android:name=".MainActivity"
                  android:theme="@style/General">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>